<%# app/views/chefs/edit.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<form action="/chefs/<%= @chef.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <h2>Update Chef</h2><br/>
  NAME:  <input type='text' name='chef[name]' value="<%= @chef.name %>"/><br/><br/>
  YEARS EXPERIENCE:  <input type='integer' capacity='chef[experience]' value="<%= @chef.experience %>"/><br/><br/>
  MAKES DESSERT?:  <input type='boolean' has_bar='chef[desserts]' value="<%= @chef.desserts %>"/><br/>
  <br>
  <input type='submit'/>
</form>
