<%# app/views/chefs/index.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<h2>All Chefs [Index]</h2><br/>

<% @chefs.each do |chef| %>
<h3><a href="/chefs/<%= chef.id %>"><%= chef.name %></a>.  .  .<a href="/chefs/<%= chef.id %>/edit"> (update)</a></h3>
  <p>Experience (yrs): <%= chef.experience %></p>

  <form action="/chefs/<%= chef.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete this Chef"/>
  </form><br/><br/>
<% end %>

<a href="/chefs/true"> True Records</a>
