<%# app/views/chefs/index.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<h2>All Chefs [Index]</h2>
<%= link_to "Show Chefs with desserts", "/chefs/true" %><br/><br/>

<% @chefs.each do |chef| %>
<h3><%= link_to "#{chef.name}", "/chefs/#{chef.id}" %>.  .  .<%= link_to "(update)", "/chefs/#{chef.id}/edit" %></h3>
  <p>Experience (yrs): <%= chef.experience %></p>

  <form action="/chefs/<%= chef.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete this Chef"/>
  </form><br/><br/>
<% end %>
