<%# app/views/chefs/index.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<h2>All Chefs [Index]</h2>
<%= link_to "Show Chefs with desserts", "/chefs/true" %><br/><br/>

<% @chefs.each do |chef| %>
<h3><%= link_to "#{chef.name}", "/chefs/#{chef.id}" %>.  .  .<%= link_to "(update)", "/chefs/#{chef.id}/edit" %></h3>
  <p>Makes Desserts: <%= chef.desserts %></p>

 <%= button_to 'Delete', "/chefs/#{chef.id}", method: :delete %>

<% end %>
