<%# app/views/chefs/show.html.erb %>
<a href="/">Home  .</a>
<a href="/restaurants">.  Restaurants Index  .</a>
<a href="/chefs">.  Chefs Index</a>

<h1><%= @chef.name %></h1>
<p>Years Experience: <%= @chef.experience %></p>
<p>ID Number: <%= @chef.id %></p>
<p>Works Days or Nights: <%= @chef.can_close %></p>
<p>Which Restaurant: </p>

<a href="/chefs/<%= @chef.id %>/edit">Update Chef</a>
