<%# app/views/chefs/show.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<h1><%= @chef.name %></h1>
<p>Years Experience: <%= @chef.experience %></p>
<p>ID Number: <%= @chef.id %></p>
<% if @chef.desserts %>
  <p>Makes Artisan Desserts</p>
<% else %>
  <p>No Artisan Desserts</p>
<% end %>
<p>Primary Restaurant: <%= @restaurant.name %></p><br/>

<%= link_to "Update Chef", "/chefs/#{@chef.id}/edit" %><br/><br/>
<%= button_to 'Delete', "/chefs/#{@chef.id}", method: :delete %>
