<%# app/views/chefs/show.html.erb %>
<a href="/restaurants">Restaurants Index</a>
<a href="/chefs">Chefs Index</a>

<h1><%= @chef.name %></h1>
<p>Which Restaurant: <%= @chef.restaurant_id %></p>
<p>Years Experience: <%= @chef.experience %></p>
<p>Works Days or Nights: <%= @chef.can_close %></p>

<a href="/chefs/<%= @chef.id %>/edit">Update Chef</a>
