<a href="/">Home</a>
<a href="/eats">Restaurants & Chefs</a>
<a href="/supply_trucks">Supply Truck Index</a>
<a href="/suppliers"> Supplier Index</a>

<form action="/supply_trucks/<%= @supply_truck.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Update Supply Truck:</p>
  <input type='text' name='supply_truck[driver_name]' value="<%= @supply_truck.driver_name %>"/><br/>
  <p>Number of Daily Deliveries</p>
  <input type='integer' number_of_daily_deliveries='supply_truck[number_of_daily_deliveries]' value="<%= @supply_truck.number_of_daily_deliveries %>"/><br/>
  <p>Refrigerated?</p>
  <input type='boolean' refrigerated='supply_truck[refrigerated]' value="<%= @supply_truck.refrigerated %>"/><br/>
  <br>
  <input type='submit'/>
</form>
