<a href="/">Home</a>
<a href="/eats">Restaurants & Chefs</a>
<a href="/supply_trucks">Supply Truck Index</a>
<a href="/suppliers"> Supplier Index</a>

<%= form_with url:"/supply_trucks", method: :post, local: true do |form| %>
  <%= form.label :driver_name %>
  <%= form.text_field :driver_name %></br>

  <%=form.label 'Number of Daily Deliveries' %>
  <%= form.number_field :number_of_daily_deliveries %></br>

  <%= form.label 'Refrigerated?' %>
  <%= form.check_box :refrigerated %></br>

  <%= form.submit 'Create New Supply Truck' %>

<% end %>
