<%# app/views/suppliers/show.html.erb %>
<%= link_to "Home", "/" %>
<%= link_to "Restaurants and Chefs", "/eats" %>
<%= link_to "Supplier Index", "/suppliers" %>
<%= link_to "Supply Truck Index", "/supply_trucks" %>

<h1>Truck: <%= @supply_truck.id %></h1>
<h2>Driver: <%= @supply_truck.driver_name %></h2>
<p>Daily Deliveries: <%= @supply_truck.number_of_daily_deliveries %></p>
<p>Refrigerated?: <%= @supply_truck.refrigerated %></p>

<%= link_to "Update Supply Truck", "/supply_trucks/#{@supply_truck.id}/edit" %>
