<%# app/views/suppliers/show.html.erb %>
<a href="/">Home</a>
<a href="/eats">Restaurants & Chefs</a>
<a href="/suppliers">Supplier Index</a>

<h1>Truck: <%= @supply_truck.id %></h1>
<h2>Driver: <%= @supply_truck.driver_name %></h2>
<p>Daily Deliveries: <%= @supply_truck.number_of_daily_deliveries %></p>
<p>Refrigerated?: <%= @supply_truck.refrigerated %></p>

<%= link_to "Update Supply Truck", "/supply_trucks/#{@supply_truck.id}/edit" %>
