<%# %>
<%= link_to "Home", "/" %>
<%= link_to "Restaurants and Chefs", "/eats" %>
<%= link_to "Supplier Index", "/suppliers" %>
<%= link_to "Supply Truck Index", "/supply_trucks" %>

<h2> Refrigerated Supply Trucks </h2>

<% @refrigerated_trucks.each do |supply_truck| %>
  <h3>Supply Truck: <%= supply_truck.id %></h3>
  <h3> Refrigerated Trucks: <%= supply_truck.refrigerated %></h3>
<% end %>
