<%# app/views/restaurants/chefs.html.erb %>
<a href="/">Home  .</a>
<a href="/restaurants">.  Restaurants Index  .</a>
<a href="/chefs">.  Chefs Index</a>

<h1>Chefs at: <%= @restaurant.name %></h1>

<a href="/restaurants/<%= @restaurant.id %>/sorted">Sorted Chefs Index</a>

<% @chefs.each do |chef| %>
  <h3><%= chef.name %> (ID: #<%= chef.id %>)</h3>
  <h4>Years of Experience: <%= chef.experience %></h4>
  <% if chef.desserts %>
    <p>Makes Dessert</p>
  <% else %>
    <p>No Dessert</p>
  <% end %>
  <br>
<% end %>
