<%# app/views/restaurants/chefs.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<h1>Chefs at: <%= @restaurant.name %></h1>

<%= link_to "Sorted Chefs Index  .", "/restaurants/#{@restaurant.id}/sorted" %>

<%= link_to ".  HIRE new Chef", "/restaurants/#{@restaurant.id}/chefs/new" %><br/><br/>

<% @chefs.each do |chef| %>
  <h3><%= chef.name %> (ID: #<%= chef.id %>)</h3>
  <h4>Years of Experience: <%= chef.experience %></h4>
  <% if chef.desserts %>
    <p>Makes Dessert</p>
  <% else %>
    <p>No Dessert</p>
  <% end %>
  <br>
<% end %>
