<%# app/views/restaurants/edit.html.erb %>

<form action="/restaurants/<%= @restaurant.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Update Restaurant</p>
  <input type='text' name='restaurant[name]' value="<%= @restaurant.name %>"/><br/>
  <input type='integer' capacity='restaurant[capacity]' value="<%= @restaurant.capacity %>"/><br/>
  <p>Has a Bar?</p>
  <input type='boolean' has_bar='restaurant[has_bar]' value="<%= @restaurant.has_bar %>"/><br/>
  <input type='submit'/>
</form>
