<%# app/views/restaurants/index.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<h2>All Restaurants [Index]</h2>
<%= link_to "OPEN a new Restaurant", "/restaurants/new" %><br/><br/>

<% @restaurants.each do |restaurant| %>
  <h3><%= link_to "#{restaurant.name}", "/restaurants/#{restaurant.id}" %>.  .  .<%= link_to "(update)", "/restaurants/#{restaurant.id}/edit" %></h3>

  <% if restaurant.has_bar %>
    <p>Serves Alcohol</p>
  <% else %>
    <p>No Alcohol</p>
  <% end %>
  <p>Created on: <%= restaurant.created_at %></p>

<%= button_to 'Delete', "/restaurants/#{restaurant.id}", method: :delete %><br/><br/>
<% end %>

<%# link_to "List by Most Chefs", "/restaurants/most_chefs" %><br/><br/>
