<%# app/views/restaurants/index.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to "Chefs Index", "/chefs" %>

<h1>Available Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h3><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a>.  .  .<a href="/restaurants/<%= restaurant.id %>/edit"> (update)</a></h3>
  <% if restaurant.has_bar %>
    <p>Serves Alcohol</p>
  <% else %>
    <p>No Alcohol</p>
  <% end %>
  <p>Created on: <%= restaurant.created_at %></p>

<% end %>

<br>
<h3><a href="/restaurants/new">OPEN a new Restaurant</a></h3>
