<%# app/views/restaurants/most_chefs.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<h2>Restaurants (Ordered by most chefs)</h2><br/>

<% @most_chefs.each do |most_chef| %>
  <h3><%= most_chef.name %>. ID:<%= most_chef.id %></h3><br/>
<% end %>
