<%# app/views/restaurants/show.html.erb %>

<%= link_to "Home  .", "/" %>
<%= link_to ".  Restaurants Index  .", "/restaurants" %>
<%= link_to ".  Chefs Index", "/chefs" %><br/><br/>

<h1><%= @restaurant.name %></h1>
<p>Chefs on Staff: <%= @chefs.count %></p>
<a href="/restaurants/<%= @restaurant.id %>/chefs">.  .  see Chefs</a><br/><br/>

<p>Seats: <%= @restaurant.capacity %></p>
<% if @restaurant.has_bar %>
  <p>Has a Bar</p>
<% else %>
  <p>Does Not Have a Bar</p>
<% end %><br/>

<%= link_to "HIRE new Chef", "/chefs/new" %><br/><br/>

<%= link_to "UPDATE Restaurant", "/restaurants/@restaurant.id/edit" %><br/><br/>


<form action="/restaurants/<%= @restaurant.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete this Restaurant"/>
</form>
