<%# %>
<%= link_to "Home", "/" %>
<%= link_to "Restaurants and Chefs", "/eats" %>
<%= link_to "Supplier Index", "/suppliers" %>
<%= link_to "Supply Truck Index", "/supply_trucks" %>

<h1>All Suppliers</h1>
<h1><% @suppliers.each do |supplier| %><h1>
  <h2><a href="/suppliers/<%= supplier.id %>"><%= supplier.name %></a> Created at <%=supplier.created_at %></h2>

<form action="/suppliers/<%= supplier.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete this Supplier"/>
</form>

<br>
<% end %>

<br>
<h3><a href="/suppliers/new"> Create New Supplier</a><h3>
  <H3><a
