<%= link_to "Home", "/" %>
<%= link_to "Restaurants and Chefs", "/eats" %>
<%= link_to "Supplier Index", "/suppliers" %>
<%= link_to "Supply Truck Index", "/supply_trucks" %>

<h1><%= @supplier.name %></h1>
<p>Number of Employees: <%= @supplier.number_of_employees %></p>
<p>Open Weekends?: <%= @supplier.open_weekends %></p>
<p>Supply Trucks: <%= @supplier.count_trucks %></p>
<a href="/suppliers/<%= @supplier.id %>/supply_trucks">Supply Trucks</a>
</br>
<a href="/suppliers/<%= @supplier.id %>/edit">Edit Supplier</a>
